<app-header></app-header>

<section id="about" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="heading">
            <h2><span>About us</span></h2>
          </div>
          <div class="sub-heading">
            <p>
              
              Swito is a canteen management  website which is made by Rahul Ranjan and Jai jha. Both are the pursuing BCA from Institute of Innovation in Techology and management which is affiliated to Guru Gobind Singh Indraprashtha University.
As we have traditional canteen management system,so this website aim to provide digital way to eliminate problems of traditional canteen sysytem.
The problems we face in canteen are standing in queues and it takes lot of time to give orders and thus canteen management also requires a lot of more human resource to run it.

This application has two interfaces: one for client side and the other for server side. The client side mainly focuses on customers who can place their orders and doesn’t require any credentials and thus can make payment through their phones on the spot. Once an order is placed a token is generated automatically.

On the server side, we provide a user interface for admin or the owners of the canteen who can log in to this application and create their menu and add payment methods. This application supports multiple canteens and a lot of canteens can register. Admins are responsible to update, verify tokens and accept or to reject orders.

            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-0.5">
          <div class="team-box">
              <div class="col-md-8 col-md-offset-2">
            <img src="../../assets/team1.jpg" alt="" class="img-responsive" height=800 width=800  />
            </div>
            <div class="roles">
              <h5><strong>Rahul Ranjan</strong></h5>
              <p>
                Developer
              </p>
              <ul class="social-profile">
                <li><a href="https://www.facebook.com/rahul.ranjanchoudhary.5"><i class="fa fa-facebook fa-lg"></i></a></li>
                <li><a href="https://www.instagram.com/rahul_choudhary7210/?hl=en"><i class="fa fa-instagram fa-lg"></i></a></li>
                <li><a href="https://twitter.com/RahulRa54553069"><i class="fa fa-twitter fa-lg"></i></a></li>
              </ul>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-0.5">
          <div class="team-box">
              <div class="col-md-8 col-md-offset-2">
            <img src="../../assets/team2.jpg" alt="" class="img-responsive" height=800 width=800 />
          </div>
            <div class="roles">
              <h5><strong>Jai Jha</strong></h5>
              <p>
                Developer
              </p>
              <ul class="social-profile">
                <li><a href="https://www.facebook.com/jainarayan.jha"><i class="fa fa-facebook fa-lg"></i></a></li>
                <li><a href="https://www.instagram.com/jay_zha/?hl=en"><i class="fa fa-instagram fa-lg"></i></a></li>
                <li><a href="https://twitter.com/Jayjha10?s=08"><i class="fa fa-twitter fa-lg"></i></a></li>
              </ul>
              </div>
            </div>
          </div>
        </div>
       
              
  <!-- </section> -->
    
  <app-footer></app-footer>

