 
<style>
    input[type=text]:focus {
    outline-width:0;
}
input[type=text] {
  width:10%;
  
 
   background:lightblue;
    
    border-bottom:2px solid rgba(146, 146, 146, 0.3);
}.button1{
  margin-top:25px;
  display: block;
  width: 10%;
  bottom:0px;
  min-height: 28px;        
  /* .box-sizing(border-box); */
}
p{
  
  
  text-align:left;
}
</style>
    <form>
    <span ><p>We have send OTP to your registered email id.<br></p></span>
  <div class="form-group">	
  <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12"><p>Enter OTP</p></div>
  <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12"><input type="text"></div>
  
  </div>
    <br>
    <br>
    <br>
    
  
   
  
  <div class="form-group">
  
    
  <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
  <input type="submit" class="button1 btn btn-default btn-primary ">
  </div>
  </div>
  </form>
  
  <div>
    <ul>
                   <li>
                       <div class="cen" click-redirect="/register">
                            <p>Resend OTP </p>
                       </div>	 				
                   </li>
                                            
                   
               </ul>
               
    </div>
  
   
  