
<div  style="background-image: url(../../assets/images/bgjoin.jpg); background-repeat: no-repeat;background-size: cover;"> -->

<div class="registration">
<div class="col-md-10"> 
    <br> <br> <br> <br> <br>
    <form style="margin-left:5.5cm;">
            <h2 style="margin-left: 1.3cm;">WELCOME TO THE VIBE GROUP</h2> 
            <br>        
            <label for="inputName">Name</label>
            <input type="text" class="form-control" [(ngModel)]="name" name="name"  placeholder="Enter Your Name">  
       <br> 
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" [(ngModel)]="email" placeholder="Email" name="email">
       <br>     
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" id="inputPassword4" [(ngModel)]="password" placeholder="Password" name="password">
            <div class="row">
            <div class="col-md-4" style="margin-left: 2.0cm;">
                <br>
                <label for="inputWeight">Weight</label>
                <input type="text" class="form-control" id="inputWeight" [(ngModel)]="weight" name="weight" placeholder="in Kg">
            </div>
            <div class="col-md-4">
                <br>
                <label for="inputHeight">Height</label>
                <input type="text" class="form-control" id="inputHeight" name="height" [(ngModel)]="height"  placeholder="in cm">
            </div>
            </div>
            <br>
        <button type="submit" class="btn btn-primary" (click)="addData()"  style="margin-left: 4.7cm;">Sign in</button>
    </form>
</div>
</div>

</div>