<style>
 body{
  font:1.2em normal Arial,sans-serif;
  color:#34495E;
}

h1{
  text-align:center;
  text-transform:uppercase;
  letter-spacing:-2px;
  font-size:2.5em;
  margin:20px 0;
}

#container{
  width:90%;
  margin:auto;
}

table{
  border-collapse:collapse;
  width:100%;
}

table.normal{
    border:2px solid #1ABC9C;
}

thead{
  background:#1ABC9C;
  color:white;
}

th,td{
  text-align:center;
  padding:5px 0;
}

tbody tr:nth-child(even){
  background:#ECF0F1;
}

tbody tr:hover{
background:#BDC3C7;
  color:#FFFFFF;
}

.fixed{
  top:0;
  position:fixed;
  width:auto;
 display:none;
}

.end{
  margin-top:800px;
}
</style>
<script>
 window.onload = function() {
    var $t_normal = document.getElementsByClassName('normal')[0],
        tableOffset = $t_normal.offsetTop,
        $t_fixed = $t_normal.cloneNode(true);
    $t_fixed.removeChild($t_fixed.getElementsByTagName('tbody')[0]);
    $t_fixed.className = 'fixed';
    $t_normal.parentNode.insertBefore($t_fixed, $t_normal);
    function resizeFixed() {
        var i,
            $t_fixed_th = $t_fixed.getElementsByTagName('th'),
            $t_normal_th = $t_normal.getElementsByTagName('th');
        tableOffset = $t_normal.offsetTop;
        for (i = 0; i < $t_fixed_th.length; i += 1) {
            $t_fixed_th[i].style.width = ($t_normal_th[i].offsetWidth) + "px";
        }
    }
    function scroll() {
        var offset = window.pageYOffset,
            tableOffsetBottom = $t_normal.getElementsByTagName('tbody')[0].offsetHeight + tableOffset;
        if (offset < tableOffset || offset > tableOffsetBottom) {
            $t_fixed.style.display = 'none';
        } else if (offset >= tableOffset && offset <= tableOffsetBottom && $t_fixed.offsetWidth === 0) {
            $t_fixed.style.display = 'table';
        }
    }
    window.onresize = resizeFixed;
    window.onscroll = scroll;
    resizeFixed();
};
</script>




<h1>Table with fixed header on scroll v2</h1>
<div id="container">
<table class="normal" *ngIf='employee &&employee.length' >
  
  <thead>
    <tr>
      <th>fname</th>
      <th>lname</th>
      <th>age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let employee of employee'>
      <td>{{employee.fname}}</td>
      <td>{{employee.lname}}</td>
      <td>{{employee.age}}</td>
    </tr>
    
    
  </tbody>
</table>
</div>
<h1 class="end">END</h1>